{% extends "layout.html" %}
{% block body %}
<div class="container">

  <div id="nixcon-logo">
    <img src="/images/nixos-logo.png" class="responsive-img nixos-logo" width="300" style="margin-top: 2em; margin-bottom: 0em;" />
  </div>

  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center grey-text text-darken-2">NixCon 2017</h1>
    </div>
  </div>

  <div class="row">
    <div class="">
      <button class="btn-large nixos-dark" onclick="location.href='{{ auth_url }}'">Log In with GitHub</button>
    </div>
  </div>
</div>

{% endblock %}
