<!doctype html>
<head>
    <title>NixCon 2017 - Registration</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"  media="screen,projection"/>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="content">

    <section class="flashed-messages">
      {% for message in get_flashed_messages() %}
        <div class=flash><p class="bg-info">{{ message }}</p></div>
      {% endfor %}
    </section>

    <header class="header">
      <!-- This section can be re-skinned for your hackathon -->
      <div class="sky"></div>
      {% if current_user.is_authenticated %}
      <div class="container">
        <div id="navbar">
          <nav>
            <a href="/apply">Apply</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Log Out</a>
            <a href="https://hacknc.com">Home</a>
            {% if current_user.is_admin %}
            <a href="/admin">Admin</a>
            {% endif %}
          </nav>
        </div>
      </div>
      {% endif %}
    </header>

    <section class="content">
      {% block body %}{% endblock %}
    </section>

</div>
</body>
